name = "MicroCoverage"
uuid = "735f9d89-249f-4fc4-9125-480239e6a78f"
authors = ["Dilum Aluthge <dilum@aluthge.com>"]
version = "0.2.0-DEV"

[compat]
julia = "1.3"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
